<!DOCTYPE html>
<html>
  <head>
    <title>Download Clip</title>
  </head>
  <body>
    <h1>Download a Video Clip</h1>
    <form action="{% url 'clip' %}" method="get">
      <label>
        Choose which camera:
        <select name="camera">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="BOTH" selected>Both</option>
        </select>
      </label>
      <br />
      <label>
        Start Time (ISO):
        <input type="datetime-local" name="start" step="1" />
      </label>
      <br />
      <label>
        End Time (ISO):
        <input type="datetime-local" name="end" step="1" />
      </label>
      <br />
      <input type="submit" value="Download Clip" />
    </form>

    <h1>Get a frame</h1>
    <form action="{% url 'frame' %}" method="get">
      <label>
        Choose which camera:
        <select name="camera">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="BOTH" selected>Both</option>
        </select>
      </label>
      <br />
      <label>
        Timestamp:
        <input type="datetime-local" name="ts" step="1" />
      </label>
      <br />
      <input type="submit" value="Get Frame" />
    </form>
  </body>
</html>
