<html>
  <head>
    <title>Message Generator</title>
  </head>
  <body>
    <h1>Download a Video Clip</h1>
    <form id="clip-form">
      <label>
        Choose which camera:
        <select name="camera">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="BOTH" selected>Both</option>
        </select>
      </label>
      <br />
      <label>
        Start Time (ISO):
        <input type="datetime-local" name="start" step="1" />
      </label>
      <br />
      <label>
        End Time (ISO):
        <input type="datetime-local" name="end" step="1" />
      </label>
      <br />
      <button type="submit" onclick="submitMessage()">Download Clip</button>
    </form>

    <p id="status">Waiting ...</p>

    <progress id="progress" max="100" value="0"></progress>

    <script>
      document
        .getElementById("clip-form")
        .addEventListener("submit", async function (e) {
          e.preventDefault(); // prevent traditional form submission

          const camera = document.getElementById("camera").value;
          const startRaw = document.getElementById("start").value;
          const endRaw = document.getElementById("end").value;

          const start = new Date(startRaw).toISOString();
          const end = new Date(endRaw).toISOString();

          const btn = document.getElementById("submit-btn");
          btn.disabled = true;

          try {
            const res = await fetch(
              `/live/api/clip/?camera=${camera}&start=${start}&end=${end}`
            );
            const { task_id } = await res.json();

            const ws = new WebSocket(
              `ws://${location.host}/ws/progress/${task_id}/`
            );

            ws.onmessage = (e) => {
              const data = JSON.parse(e.data);
              console.log("Received update:", data);

              document.getElementById("status").innerText = data.status;
              document.getElementById("progress").value = data.progress;

              if (data.status === "Done" && data.progress === 100) {
                ws.close();
                window.location = `/live/api/download/${task_id}/`;
              }
            };

            ws.onclose = () => {
              console.log("WebSocket closed");
              btn.disabled = false;
            };

            ws.onerror = (err) => {
              console.error("WebSocket error:", err);
              btn.disabled = false;
            };
          } catch (err) {
            console.error("Error during fetch or WebSocket:", err);
            btn.disabled = false;
          }
        });
    </script>
  </body>
</html>
