{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Live Stream</title>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="{% static 'live/js/player.js' %}"></script>
  </head>
  <body>
    {% for camera in cameras %}

    <h2>Live HLS Stream for camera {{ camera }}</h2>
    <video id="{{ camera }}" width="640" height="360" controls autoplay>
      Your browser does not support video.
    </video>

    <script>
      initializeHLSPlayer(
        "{{ camera }}",
        "http://{{ ip }}:8080/hls/stream{{ camera }}.m3u8"
      );
    </script>

    {% endfor %}

    <a href="{% url 'clip_form' %}">Download a clip</a>
  </body>
</html>
